body {
    margin: 0;
    min-height: 100vh;
}
.header1 {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: baseline;
    margin: 0;
    padding-right: 20rem;
}
.title {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
    padding-left: 20rem;
    font-weight: bolder;
}
.child{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}
.container1 {
    background-color: #1f2937;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
}

.container2 .child{
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    flex-direction: row;
}
.container2{
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;
}

.information{
    max-width: 200px;
}
.title2{
   font-weight: bolder;
   font-size: 36px;
   color: #1f2937; 
   margin-bottom: 3rem;
}
.container2 img {
    border: 2px solid blue;
    border-radius: 10px;
}
.container3{
    display: flex;
    background-color: #e5e7eb;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
    flex-direction: column;
}
.container4{
    background-color: #3882f6;
    margin: 5rem;
    margin-left: 18.5rem;
    margin-right: 18.5rem;
    padding: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex: 1;
}
.container4 > button{
    text-align: center;
    margin-right: auto;
    margin-left: 30rem;
    border-color: #f9faf8;
    border-style: solid;
}
.container4 .text{
    font-size: 16px;
}
.subscription{
    display: flex;
    flex-direction: column;
}
.header3{
    font-weight: bolder;
    color: #f9faf8;
    font-size: 20px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 1000px;
}
.quoter{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.hutao{
    width: 500px;
    height: 250px;
    flex-shrink: 0;
}

.header2 {
    font-weight:bold;
    font-size: 48px;
    color: #f9faf8;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding: 16px;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
}
.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #3882f6;
    height: 30px;
    width: 100px;
    font-weight:bolder;
    color: #ffffff;
    border-color: #3882f6;
    border-radius: 10px;
    border-style: solid;
}
img {
    width: 150px;
    height: 150px;
  }